.image-list {
  display: table;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 350px;
  word-wrap: break-word;
  margin: 10px;
}

.image-list img {
  width: 250px;
  height: 350px;
}

.center {
  margin: 40px;
}

.button {
  background-color: rgb(61, 110,201);
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.address {
  display: block;
  margin: auto;
  height: 300px;
  width: 330px;
  text-align: center;
  
}

input[type="text"]:focus {
  background-color: none;
}

.dis-table p {
  margin: 10px;
  padding: 0;
}