/* .top {
  
  border: 2px dashed grey; 
  height: 100%; 
  box-sizing: border-box; 
  padding: 1rem; 
  text-align: center; 
  color: black; 
  background-color: lightblue;
  border-radius: 20px;
 
} */
.outer{
  display: block;
  margin: 30px 300px;
  width: 55rem; 
  height: 15rem; 
  background-color: rgb(177, 223, 201); 
  padding: 1rem; 
  box-sizing: border-box; 
  border: 1px solid gray; 
  border-radius: 20px;
  position: relative;
  

}

.choose {
  border: 2px dashed grey; 
  bottom: 55px;
  right: 13px;
  height: 170px;
  width:97%;
  position: absolute; 
  box-sizing: border-box;
  margin-top: 100px; 
  padding: 1rem; 
  text-align: center; 
  color: black;
  font-weight: 300;
  font-size: x-large;
  background-color: rgb(177, 223, 201);
  border-radius: 20px;
  
}



input[type="file"] {
  display: none;
}


.choose:hover {
  box-shadow: rgb(122, 201, 218) 0 3px 8px;
}
.textArea {
  color: grey;
  left: 30px;
  top: 200px;
  position: absolute;

}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  top: 170px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 190px;
  right: 30px;

  
  position: absolute;


  
}

.upload:hover {
  border: 0px solid;
  background-color: transparent;
  font-weight: 200;
  color: rgb(61, 110, 201);
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 0px solid #999999;
  background-color: transparent;
  color: #666666;
  border-radius: none;
  font-weight: 100;
}

div {
  padding: 5px 10px;
}
